 <div class="mt-6 sm:mx-auto sm:w-full sm:max-w-xl">
    <div class="bg-white py-8 px-4 shadow sm:rounded-lg sm:px-10 ">
      <%= form_with model: @feedback, local: true,
  class: 'feedback-form space-y-8' do |f| %>

        <div class="grid sm:grid-cols-2 sm:space-x-2">
        <div class="field ">
          <label for="grid-full-name", class="block text-sm font-medium text-gray-700" >Your name</label>
          <%= f.text_field :full_name, placeholder: 'Your Name',  tabindex: "1",
          class: "block w-full appearance-none rounded-md border border-gray-300 px-3 py-2 placeholder-gray-400 shadow-sm focus:border-sky-500 focus:outline-none focus:ring-sky-500 sm:text-sm" %>
        </div>
        <div class="field mt-5 sm:mt-0">
          <label for="grid-email", class="block text-sm font-medium text-gray-700" > Email</label>
          <%= f.text_field :email,
                placeholder: 'username@email_provider.com' ,
                required: true,
                class: "block w-full appearance-none rounded-md border border-gray-300 px-3 py-2 placeholder-gray-400 shadow-sm focus:border-sky-500 focus:outline-none focus:ring-sky-500 sm:text-sm"%>
          </div>
          </div>
          <div class="field">
            <label for="grid-topic", class="block text-sm font-medium text-gray-700">Topic</label>
            <%= f.select( :topic, options_for_select([['I have some
                      feedback...','feedback'],['I have a
                      question...', 'question' ],['I would like to request access...','access'], ['I have a feature
                      request...','feature'],['I’d like to report a
                      bug...','bug'],['Other','other']],1), { }, {class: "block w-full appearance-none rounded-md border border-gray-300 px-3 py-2 placeholder-gray-400 shadow-sm focus:border-sky-500 focus:outline-none focus:ring-sky-500 sm:text-sm"}) %>
          </div>
          <div class="field ">
            <label for="grid-message", class="block text-sm font-medium text-gray-700">Message</label>
            <%= f.text_area :comment,
                      placeholder: 'What is on your mind?' , required: true,
                      class: "block w-full appearance-none rounded-md border border-gray-300 px-3 py-2 placeholder-gray-400 shadow-sm focus:border-sky-500 focus:outline-none focus:ring-sky-500 sm:text-sm" %>
          </div>
          <div class="flex justify-end">
            <%= f.submit :submit, :class=> "feedback-submit" %>
          </div>
        <% end %>
      </div>
    </div>