 <div class="mt-6 sm:mx-auto sm:w-full sm:max-w-xl">
    <div class="bg-white py-8 px-4 shadow sm:rounded-lg sm:px-10 ">
      <%= form_with model: @screenshot, class: 'screenshot-form space-y-8' do |f| %>

        <div class="grid sm:grid-cols-1 sm:space-x-2">
        <div class="field ">
          
          <%= f.text_field :name, placeholder: 'Site name',  tabindex: "0",
          class: "block w-full appearance-none rounded-md border border-gray-300 px-3 py-2 placeholder-gray-400 shadow-sm focus:border-sky-500 focus:outline-none focus:ring-sky-500 sm:text-sm", type: :text %>
        </div>

        <div class="field mt-5  ">
          <%= f.text_field :url,
                
                placeholder: 'https://www.example.com',
                required: true,
                class: "block w-full appearance-none rounded-md border border-gray-300 px-3 py-2 placeholder-gray-400 shadow-sm focus:border-sky-500 focus:outline-none focus:ring-sky-500 sm:text-sm ", 
                type: :url%>
          </div>
          </div>

          <div class="field ">

            <%= f.text_area :comment,
                      placeholder: 'What is on your mind?' , required: true,
                      class: "block w-full appearance-none rounded-md border border-gray-300 px-3 py-2 placeholder-gray-400 shadow-sm focus:border-sky-500 focus:outline-none focus:ring-sky-500 sm:text-sm", type: :text %>
          </div>
          <div class="flex justify-end">
            <%= f.submit :submit, :class=> "feedback-submit" %>
          </div>
        <% end %>
      </div>
    </div>

    https://www.humbledaisy.com

    